<div class="form-container">
    <form id="login-form">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username" >Username</label>
            <input id="username" name="username" class="form-control form-control-sm" type="text" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="password" >Password</label>
            <input id="password" name="password" class="form-control form-control-sm" type="password" placeholder="Enter Password">
        </div>
        <button id="submit" class="btn btn-info" type="submit">Submit</button>
    </form>
</div>