<div class="form-container">
    <form id="register-form">
        <h2>Register Account</h2>
        <div class="form-group">
            <label for="username" >Username</label>
            <input id="username" name="username" class="form-control form-control-sm" type="text" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="display-name" >Name</label>
            <input id="display-name" name="name" class="form-control form-control-sm" type="text" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="email" >Email</label>
            <input id="email" name="email" class="form-control form-control-sm" type="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="password" >Password</label>
            <input id="password" name="password" class="form-control form-control-sm" type="password" placeholder="Enter Password">
        </div>
        <button id="submit" class="btn btn-raised btn-info" type="submit">Submit</button>
    </form>
</div>